 <div class="container-fluid"> 
  <div class="container-fluid">
    <div class="jumbotron">
      <div class="store-jumbotron">
        <div class="store-jumbotron-logo">
          <img src="" alt="store-logo" />
        </div>
        <div class="store-jumbotron-details">
          <strong><%= @store.storeName %></strong>
          <p>Store location: <%= @store.location_id %></p>
          <p>Hours and more:</p>   
        </div>       
      </div>
    </div>
    <div class="container-fluid">
      <div class="product-search-container">


        <%= render 'products/product-cards'  %>   

        
      </div>  
    </div>
  </div>

  <p>
    <strong>Storename:</strong>
    <%= @store.storeName %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @store.location_id %>
  </p>
</div>