 <div class="container-fluid"> 
  <div class="container-fluid">
    <div class="jumbotron">
      <div class="store-jumbotron">
        <div class="store-jumbotron-logo">
          <%= image_tag(@store.logo, :alt => "store logo") %>
        </div>
        <div class="store-jumbotron-details">
          <strong><%= @store.storeName %></strong>
          <p>Store location: <%= @store.location_id %></p>
          <p><%= @store.hours_and_more %></p>   
        </div>       
      </div>
    </div>
    <div class="container-fluid">
      <div class="product-search-container">


        <%= render 'products/product-cards'  %>   

        
      </div>  
    </div>
  </div>
</div>