<p id="notice"><%= notice %></p>

<p>
  <strong>Storename:</strong>
  <%= @store.storeName %>
</p>

<p>
  <strong>Location:</strong>
  <%= @store.location_id %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
