<div>
  <div>
    <h5>Order for:</h5>
    <p class="text">Name: <%= current_customer.name %></p>
    <p class="text">Email: <%= current_customer.email %></p>
  </div>
  <div>
    <h5>Store:</h5>
    <p class="text"><%= params %></p>    
  </div>
</div>


<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container field">
    <%= form.label :orderTotal %>
    <%= form.number_field :orderTotal %>
  </div>  

  <%= form.hidden_field :store_id, value: params[:store_id] %>

  <%= form.hidden_field :customer_id, value: current_customer.id %>

  <%= form.hidden_field :product_id, value: params[:product_id] %>

  <div class="container actions">
    <%= form.submit value="Place Order", class:"btn btn-outline-success my-2 my-sm-0" %>
  </div>
<% end %>