<div>
  <div>
    <h5>Order for:</h5>
    <p class="text">Name: <%= current_customer.name %></p>
    <p class="text">Email: <%= current_customer.email %></p>
  </div>
  <div>
    <h5>Store:</h5>
    <p class="text"><%= params %></p>    
  </div>
</div>


<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :store_id %>
    <%= form.number_field :store_id %>
  </div>

  <div class="field">
    <%= form.label :line_item_id %>
    <%= form.number_field :line_item_id %>
  </div>

  <div class="field">
    <%= form.label :orderTotal %>
    <%= form.text_field :orderTotal %>
  </div>  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>