<div>
  <div>
    <h5>Order for:</h5>
    <p class="text">Name: <%= current_customer.name %></p>
    <p class="text">Email: <%= current_customer.email %></p>
  </div>
  <div>
    <h5>Store:</h5>
    <p class="text"><%= params %></p>    
  </div>
</div>


<%= form_with(model: order = Order.create(store_id: params[:store_id], line_item_id: 1, customer_id: current_customer.id), local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container field">
    <%= form.label :orderTotal %>
    <%= form.number_field :orderTotal %>
  </div>  

  <div class="container actions">
    <%= link_to "Save and Continue shopping", store_path(params[:store_id]), class:"btn btn-outline-success my-2 my-sm-0" %>
  </div>

  <div class="container actions">
    <%= form.submit value="Place Order", class:"btn btn-outline-success my-2 my-sm-0" %>
  </div>
<% end %>