    
    <div class="product-filter-column col-3">
      <h6>(todo) Filters</h6>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
      </div> 
      <div class="input-group dropdown mb-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Brand
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>           
      <div class="input-group">
        <div class="custom-control custom-checkbox store-filter-group">
          <div class="store-filter">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Potted Plants</label>
          </div>                                          
        </div>
      </div>
      <div class="input-group">
        <div class="custom-control custom-checkbox store-filter-group">
          <div class="store-filter">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Garden Supplies</label>
          </div>                                          
        </div>
      </div>
      <div class="input-group">
        <div class="custom-control custom-checkbox store-filter-group">
          <div class="store-filter">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Irrigation</label>
          </div>                                          
        </div>
      </div>
      <div class="input-group">
        <div class="custom-control custom-checkbox store-filter-group">
          <div class="store-filter">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Lighting</label>
          </div>                                          
        </div>
      </div>                  
    </div>    
    <div class="product-cards-container col-9">      
      <div class="product-cards">
        <h3>Featured</h3>
        <% Product.find(ProductStore.where(store_id: @store).pluck(:product_id)).each do |product| %>
          <%= link_to new_line_item_path(customer_id: current_customer.id, store_id: @store.id, product_id: product.id) do %>
            <div class="card product-card text-center">
                <div class="product-card-body">
                  <div class="product-card-image">
                    <%= image_tag(product.pic, :alt => "product pic", class:"product-card-image") %>
                  </div>
                  <div class="product-card-description">
                    <h5><%=product.productName%></h5>
                    <p>By (brand_id) <%=product.brand_id%></p>
                    <p><%=truncate(product.description, :length => 150)%></p>
                  </div>
                  <div class="product-card-price">
                      <p><%=number_to_currency(product.price)%></p>
                  </div>
                </div>
            </div>
          <% end %>
        <% end %>        
      </div>
    </div>