<div class="container-fluid">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Featured:</strong>
    <%= @product.featured %>
  </p>

  <p>
    <strong>Productname:</strong>
    <%= @product.productName %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @product.category_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @product.type_id %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= @product.brand_id %>
  </p>

  

<%= form_with(model: @line_item = LineItem.create(product_id: @product.id), local: true) do |form| %>
  <% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>
      <ul>
        <% @line_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" >
    <%= form.number_field :quantity, placeholder:"Qty", id:"quantity" %>
  </div>

  <div class="actions">
    <%= form.submit value:"Add to cart" %>
  </div>
<% end %>
  
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>


