<div class="container-fluid">
    <%# <h4>(New Line Item)</h4> %>

    <div class="container product-detail">
        <div class="product-detail-elements">
            <table>
                <tr>
                    <th>
                        (BrandId) <%= Product.find(params[:product_id]).brand_id  %>
                    </th>
                </tr>
                <tr>
                    <th>
                        <%= Product.find(params[:product_id]).productName %>
                    </th>
                </tr>
                <tr>
                    <th>
                        Price: <%= number_to_currency(Product.find(params[:product_id]).price) %>
                    </th>
                </tr>
                <tr>
                    <th>
                        TypeId: <%= Product.find(params[:product_id]).type_id %>
                    </th>
                </tr>
                <tr>
                    <th>
                        Description: <%= Product.find(params[:product_id]).description%>
                    </th>
                </tr>                                                                
            </table>            
        </div>
        <div class="product-detail-form">
            <%= image_tag(Product.find(params[:product_id]).pic, :alt => "product pic") %>
            <%= render 'form', line_item: @line_item %>
        </div>  
        
    </div>
</div>