<div class="container-fluid">
    <%# <h4>(New Line Item)</h4> %>

    <div class="container product-detail">
        <div class="product-detail-elements">
            <h5>(BrandId) <%= Product.find(params[:product_id]).brand_id  %></h5>
            <h4><%= Product.find(params[:product_id]).productName %></h4>
            <h5>Price: <%= number_to_currency(Product.find(params[:product_id]).price) %></h5>
            <h5>TypeId: <%= Product.find(params[:product_id]).type_id %></h5>
            <p>Description: <%= Product.find(params[:product_id]).description%> </p>
        </div>
        <div class="product-detail-form">
            <%= image_tag(Product.find(params[:product_id]).pic, :alt => "product pic") %>
            <%= render 'form', line_item: @line_item %>
        </div>  
        
    </div>
</div>