<!DOCTYPE html>
<html>
  <head>
    <title>Gleeful Gardens</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>
    <%= render 'layouts/footer' %>

    <%= link_to "ER and Table Diagrams", erdiagram_path, class:"container-fluid" %>
  </body>
</html>
